* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.cart-container {
  margin-bottom: 40%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.cart-details > div {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.cart-details h3 {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-controls button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
}
.quantity-controls>span{
    font-weight: bold   ;
    margin: 0 10px;
}
.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.remove-button:hover {
  background-color: darkred;
}

.item-price {
  font-size: 16px;
  color: #333;
  align-self: center;
  margin-left: 20px;
}

.item-price {
  font-size: 16px;
  color: #333;
  margin-left: 20px;
}

.cart-total {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  position: fixed;
  right: 5%;
  bottom: 10%;
  font-weight: bold;
  z-index: 10000;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.bottom-nav a {
  color: white;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 8px;
  width: 50%;
}

.bottom-nav a:hover {
  border-radius: 10px;
  color: #333;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease-in;
}
