* {
  scrollbar-width: none;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

.old-cart-container {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  margin-bottom: 20%;
}

.old-cart-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.item-price {
  font-weight: bold;
}

#old-cart-items {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#old-cart-items > div {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-item {
  display: table-row;
}

.order-details,
.order-total {
  display: table-cell;
  padding: 8px;
  vertical-align: middle;
}

.order-details {
  width: 70%;
}

.order-item h3 {
  margin: 20px 0 5px 0;
  font-size: 1.2em;
}

.total-price {
  font-weight: bold;
  font-style: italic;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.bottom-nav a {
  color: white;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 8px;
  width: 50%;
}

.bottom-nav a:hover {
  border-radius: 10px;
  color: #333;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease-in;
}

.show-menu {
  display: flex;
  position: fixed;
  bottom: 80px;
  left: 85%;
  transform: translate(-50%, 0);
  padding: 20px 23px;
  margin: auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  align-items: center;
  font-size: 26px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  transform-origin: 50% 50%;
}

.show-menu.rotate {
  transform: translate(-50%, 0) rotate(180deg); /* Add rotation class */
}
